/* 这是引入了一些字体 */
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900'); 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#contains {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: url(../img/default.png);
  background-attachment:fixed;
  background-position:center;
  background-size: cover;
}

html {
  background-color: #222;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII=);
  background-repeat: repeat;
}

.card {
  position: relative;
  width: 350px;
  height: 200px;
  /* height: 450px; */
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 35px 90px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
}

.card:hover {
  height: 450px;
}

.footer {
  width: 100%;
  color: white;
  float: left;
  text-align: center;
  position: fixed;
  bottom: 0;
  margin-bottom: 30px;
  /* background-color: blue; */
  display: block;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer a:hover {
  color: rgb(0, 81, 255);
}

.imgBx {
  position: absolute;
  left: 50%;
  top: -50px;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  transition: 0.5s;
}

.card:hover .imgBx {
  width: 250px;
  height: 250px;
}

.imgBx img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.card .content .details {
  padding: 35px;
  text-align: center;
  width: 100%;
  transition: 0.5s;
  transform: translateY(150px);
}

.card:hover .content .details {
  transform: translateY(0px);
}

.card .content .details h2 {
  font-size: 1.25em;
  font-weight: 600;
  color: #555;
  line-height: 1.2em;
}

.card .content .details h2 span {
  font-size: 0.75em;
  font-weight: 500;
  opacity: 0.5;
}

.card .content .details .data {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.card .content .details .data h3 {
  font-size: 1em;
  color: #555;
  line-height: 1.2em;
  font-weight: 600;
}

.card .content .details .data h3 span {
  font-size: 0.85em;
  font-weight: 400;
  opacity: 0.5;
}

.card .content .details .linkBtn {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.card .content .details .linkBtn button {
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #999;
    outline: none;
    font-size: 1em;
    font-weight: 500;
    color: #999;
    background: #fff;
    cursor: pointer;
  }

.card .content .details .actionBtn {
  display: flex;
  justify-content: space-between;
}

.card .content .details .actionBtn button {
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: 500;
  background: #ff5f95;
  color: #fff;
  cursor: pointer;
}

.card .content .details .actionBtn button:nth-child(2) {
  border: 1px solid #999;
  color: #999;
  background: #fff;
}

.rnotificationLink {
  color: black;
  text-decoration: none;
  transition: 0.15s color ease;
}

.rnotificationLink:hover {
  color: skyblue;
}

.avgrund-active body {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}

.avgrund-cover {
  position: absolute;
  width: 500%;
  height: 500%;
  top: -50%;
  left: -50%;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
}

.avgrund-active .avgrund-cover {
  visibility: visible;
  opacity: 1;
}

.avgrund-contents {
  position: relative;
  /* padding: 20px; */
  /* max-width: 80%; */
  width: 100%;
  height: 100%;
  /* margin: auto; */
}

.avgrund-active .avgrund-contents {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -ms-filter: blur(2px);
  -o-filter: blur(2px);
  filter: blur(2px);
}

.no-blur.avgrund-active .avgrund-contents {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
}

.avgrund-popup {
  position: absolute;
  width: 340px;
  height: auto;
  left: 50%;
  top: 35%;
  margin: -130px 0 0 -190px;
  visibility: hidden;
  opacity: 0;
  z-index: 2;
  padding: 20px;

  background: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
  border-radius: 3px;

  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}

.avgrund-popup a {
  color: black;
  font-size: 1.2em;
  text-decoration: none;
}

.avgrund-popup a:hover {
  color: skyblue;
}

.avgrund-active .avgrund-popup {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.avgrund-popup.stack {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
}

.avgrund-active .avgrund-popup.stack {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}


.avgrund-ready body,
.avgrund-ready .avgrund-contents,
.avgrund-ready .avgrund-popup,
.avgrund-ready .avgrund-cover {
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  -webkit-transition: 0.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940);
  -moz-transition: 0.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940);
  -ms-transition: 0.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940);
  -o-transition: 0.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940);
  transition: 0.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.avgrund-ready .avgrund-popup.no-transition {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

#searchBox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#contents {
  overflow-y: auto;
  max-height: 100%;
  scroll-behavior: smooth;
}

#version-info {
  text-align: left;
  position: fixed;
  left: 10px;
  bottom: 10px;
  padding: 10px 10px;
  border-radius: 5px;
  font-size: 12px;
  color: rgba(128, 128, 128, 0.7);
  z-index: 9999;
  transition: all 0.3s ease;
  overflow: hidden;
  max-height: 20px;
}

#version-info:hover {
  color: white;
  background-color: rgba(128, 128, 128, 0.7);
  max-height: 100%;
}

.update-details {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}

#version-info:hover .update-details {
  opacity: 1;
  max-height: 100%;
}
