<?xml version="1.0" ?>
<rules>
	<clear/>
	<rule name="http_toHttps" stopProcessing="true">
		<match url="(.*)"/>
		<conditions>
			<add input="{HTTPS}" pattern="off" ignoreCase="true"/>
		</conditions>
		<action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}"/>
	</rule>
</rules>
